<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tradeMapper">
	
	<!--고아름 추가 -->
	<select id="getTradeAllCount" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM trade
		<where>
			<choose>
				<when test='tradeType.equals("swap")'>
					trade_type = 'S'
				</when>
				<when test='tradeType.equals("free")'>
					trade_type = 'F'
				</when>
				<when test='tradeType.equals("wanted")'>
					trade_type = 'W'
				</when>
			</choose>
			</where>
	</select>
	
	<select id="getTradeList" parameterType="map" resultType="tradeVO">
		SELECT t.tno, t.target_tno,	t.tdc_no, t.title, t.content, t.price, t.road_addr_part, t.sido,
      t.sigugun, t.dongmyun, t.addr_detail,	t.lat, t.lng, t.trade_code, t.regdate, t.moddate, t.writer_uno, 
      t.writer_nickname, t.enddate, t.trade_type, t.file1, t.file2, t.file3, p.html_tag psc_url
		FROM (SELECT CEIL(ROWNUM/10) page, tno, target_tno,	tdc_no, title, content, price, road_addr_part, sido, sigugun, dongmyun, addr_detail,	lat, lng, trade_code, regdate, moddate, writer_uno, writer_nickname, enddate,trade_type, file1, file2, file3
           FROM (SELECT tno, target_tno,	tdc_no, title, content, price, road_addr_part, sido, sigugun, dongmyun, addr_detail,	lat, lng, trade_code, regdate, moddate, writer_uno, writer_nickname, enddate,trade_type, file1, file2, file3
           FROM trade
           ORDER BY tno DESC)
		<where>
			<choose>
				<when test='tradeType.equals("swap")'>
					trade_type = 'S'
				</when>
				<when test='tradeType.equals("free")'>
					trade_type = 'F'
				</when>
				<when test='tradeType.equals("wanted")'>
					trade_type = 'W'
				</when>
			</choose>
		</where>
		ORDER BY tno DESC) t
		LEFT JOIN member m ON (t.writer_uno = m.mem_no)
		LEFT JOIN personacon p ON (m.psc_code = p.psc_no)
 		WHERE page = #{page}
	</select>

	<select id="getTradeDetail" parameterType="int" resultType="tradeVO">
		SELECT t.tno, t.target_tno,	t.tdc_no, t.title, t.content, t.price, t.road_addr_part, 
      t.sido, t.sigugun, t.dongmyun, t.addr_detail,	t.lat, t.lng, t.trade_code, t.regdate, 
      t.moddate, t.writer_uno, t.writer_nickname, t.enddate, t.trade_type, t.file1, t.file2, t.file3, p.html_tag psc_url
		FROM trade t
		LEFT JOIN member m ON (t.writer_uno = m.mem_no)
   LEFT JOIN personacon p ON (m.psc_code = p.psc_no)
		WHERE tno = #{tno}
	</select>

	<insert id="insertTrade" parameterType="tradeVO">
		INSERT INTO trade (tno, target_tno, tdc_no, title, content, 
			price, road_addr_part, sido, sigugun, dongmyun, addr_detail, 
			lat, lng, trade_code, regdate, moddate, writer_uno, 
			writer_nickname, enddate, trade_type, file1, file2, file3)
		VALUES(SEQ_TRADE_TNO.NEXTVAL, null, #{tdcno}, #{title}, #{content}, #{price},
			#{roadAddrPart}, #{sido}, #{sigugun}, #{addrDetail}, #{addrDetail}, #{lat},
			#{lng}, #{tradeCode}, SYSDATE, SYSDATE, #{writerUno}, #{writerNickname}, SYSDATE,
			#{tradeType}, #{file1}, #{file2}, #{file3})
	</insert>

	<update id="updateTrade" parameterType="tradeVO">
		UPDATE trade
		SET 
			tdc_no = #{tdcno}, 
			title = #{title}, 
			content = #{content}, 
			price = #{price},
			road_addr_part = #{roadAddrPart},
			sido = #{sido},
			sigugun = #{sigugun},
			dongmyun = #{dongmyun},
			addr_detail = #{addrDetail},
			moddate = SYSDATE, 
			trade_type = #{tradeType}
		WHERE tno = #{tno}
	</update>
	
	<delete id="deleteTrade" parameterType="int">
		DELETE FROM trade
		WHERE tno = #{tno}
	</delete>

	<select id="getMapList" parameterType="mapVO" resultType="tradeVO">
		SELECT tno, target_tno,	tdc_no, title, content, price, road_addr_part, sido, sigugun, dongmyun, addr_detail,	lat, lng, trade_code, regdate, moddate, writer_uno, writer_nickname, enddate,trade_type
		FROM (SELECT CEIL(ROWNUM/10) page, tno, target_tno,	tdc_no, title, content, price, road_addr_part, sido, sigugun, dongmyun, addr_detail,	lat, lng, trade_code, regdate, moddate, writer_uno, writer_nickname, enddate,trade_type
          	  FROM trade
		ORDER BY tno DESC)
 		WHERE page = #{page}
 		AND title LIKE '%'||#{title}||'%'
	</select>
	
	<select id="getMapListCount" parameterType="mapVO" resultType="int">
		SELECT COUNT(*) 
		FROM trade
		WHERE title LIKE '%'||#{title}||'%'
	</select>
	
</mapper>